
/* Gallery */

.gallery {
    margin: 1rem;
}

.gallery img {
    display: block;
    max-width: 60%;
    border: 7px solid white;
    border-radius: 3rem;
}

.image-right {
    margin-left: auto;
    margin-right: 4%;
}

.image-left {
    margin-top: 1rem;
    margin-left: 4%;
    margin-right: auto;
}

/* Main */

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    text-align: center;
    margin-top: 1.5rem;
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup .bubble {
    width: 70%;
}

input {
    width: 100%;
    font: medium Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    color: gray;
    border: none;
    outline: none;
}

.submit-button {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    background-color: white;
    color: #a44d6d;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 5rem;
    margin-bottom: 2rem;
}

.submit-button:hover {
    background-color: lavenderblush;
}

/* Media Query */

@media all and (min-width: 992px) {
    body {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        margin: 0;
    }
    .gallery {
        margin: 0;
        padding: 0;
    }
    main {
        margin: 0;
        padding: 0;
    }
    .gallery img {
        max-width: 20%;
    }
    .image-right {
        margin-right: 10rem;
    }
    
    .image-left {
        margin-left: 10rem;
    }
}