@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #a44d6d;
}

main {
    flex: 1;
}

/* Message Bubbles */

.bubble {
    display: flex;
    position: relative;
    padding: 1rem;
    border: 2px outset silver;
    border-radius: 1.5rem;
    margin: 1rem;
    box-shadow: 0 0 3px 1px silver;
    background-color: white;
    font: normal 1rem Arial, Helvetica, sans-serif;
}

.bubble::after {
    content: "";
    position: absolute;
    bottom: -11px;
    width: 10px;
    height: 7px;
    border: 2px silver;
    border-style: none outset outset outset;
    border-radius: 0 0 100% 0;
    box-shadow: 0 0 3px 1px silver;
    background-color: white;
}

.bubble--header {
    justify-content: space-between;
}

.bubble--left {
    width: fit-content;
    max-width: 60vw;
    margin-right: auto;
}

.bubble--left::after {
    left: 17px;
}

.bubble--right {
    width: fit-content;
    max-width: 70vw;
    margin-left: auto;
}

.bubble--right::after {
    right: 17px;
    border-radius: 0 0 0 15rem;
}

.bubble--user {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem 0.4rem 0.4rem 0.2rem;
}

.bubble__image {
    max-width: 50vw;
    height: auto;
    border-radius: 1rem;
}

/* Header */

.logo-link {
    margin-right: auto;
}

.logo-img {
    width: 4rem;
    height: fit-content;
    max-height: 2.5rem;
    margin-right: auto;
}

h1 {
    margin-bottom: 0.5rem;
    color:#a44d6d;
    font: normal 2.5rem "Pacifico";
    text-shadow: 1px 1px 1px #fe94bc;
}

.btn-login {
    align-self: flex-end;
    width: 4rem;
    padding: 1.4rem 0;
    border: 2px outset #fe94bc;
    border-radius: 50%;
    margin-left: auto;
    box-shadow: inset 0 0 5px 2px #fe94bc;
    background-color: #a44d6d;
    font: normal 1rem Arial, Helvetica, sans-serif;
    color: white;
}

.btn-login:hover {
    filter: brightness(85%);
}

/* Form */

input {
    width: 100%;
    border: none;
    margin: auto;
    outline: none;
    font: normal 1rem Arial, Helvetica, sans-serif;
    text-align: center;
    color: gray;
}

input:focus {
    color: black;
}

.btn-send {
    padding: 0.2rem 0.4rem 0.3rem 0.4rem;
    border: 2px outset #fe94bc;
    border-radius: 50%;
    margin-left: auto;
    box-shadow: inset 0 0 5px 2px #fe94bc;
    font: normal 1rem Arial, Helvetica, sans-serif;
    color: white;
    background-color: #a44d6d;
}

.btn-send:hover {
    filter: brightness(85%);
}

.fa-reply {
    font-size: 0.75rem;
}

.btn-visibility {
    width: fit-content;
    padding: 0.2rem 0.25rem;
    border: 2px outset #fe94bc;
    border-radius: 50%;
    margin-left: 0.25rem;
    margin-right: auto;
    box-shadow: inset 0 0 5px 2px #fe94bc;
    color: white;
    background-color: #a44d6d;
}

.btn-visibility:hover {
    filter: brightness(85%);
}

/* Index Page */

.index-page h2 {
    font: normal 1rem Arial, Helvetica, sans-serif;
}

/* Signup Page */

input {
    color: black;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 1rem 0.5rem;
    margin-top: 3rem;
    background-color: black;
}

footer p {
    font: normal 0.75rem Arial, Helvetica, sans-serif;
    text-align: center;
    color: silver;
}

.fa-brands {
    color: silver;
}

/* Media Queries */

@media all and (min-width: 992px) {
    body {
        width: 60%;
        margin-left: auto;
        margin-right: auto
    }
    .bubble--left {
        margin-left: 7rem;
    }
    .bubble--right {
        margin-right: 7rem;
    }
    .bubble__image {
        max-width: 15vw;
    }
}
