/* Overall */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #a44d6d;
}

/* Common */

.bubble {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem;
    margin: 2% 5%;
    background-color: white;
    border-radius: 2rem;
    font-family: Arial, sans-serif;
}

.bubble::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
}

.bubble.left-tail::after {
    left: 30px;
    border-width: 10px 30px 0 0;
    border-color: white transparent transparent transparent;
}

.bubble.right-tail::after {
    right: 30px;
    border-width: 10px 0 0 30px;
    border-color: white transparent transparent transparent;
}

/* Header */

#logo-image {
    width: 4rem;
    height: fit-content;
    margin-right: auto;
}

h1 {
    font: normal 2.75rem "Pacifico", serif;
    color: #a44d6d;
    padding-bottom: 0.5rem;
}

#logo-text {
    height: 4rem;
    padding: 0.5rem 1rem 0rem 1rem;
    padding-left: 1rem;
}

#login {
    width: 4rem;
    background-color: #a44d6d;
    color: white;
    font-size: medium;
    align-self: flex-end;
    padding: 1.2rem 0;
    border: none;
    border-radius: 5rem;
    margin-left: auto;
}

/* Gallery */

.gallery {
    margin: 1rem;
}

.gallery img {
    display: block;
    max-width: 60%;
    border: 7px solid white;
    border-radius: 3rem;
}

.image-right {
    margin-left: auto;
    margin-right: 4%;
}

.image-left {
    margin-top: 1rem;
    margin-left: 4%;
    margin-right: auto;
}

/* Main */

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    text-align: center;
    margin-top: 1.5rem;
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup .bubble {
    width: 70%;
}

input {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    background-color: white;
    color: gray;
    border: none;
    border-radius: 5rem;
    outline: none;
}

.submit-button {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    background-color: white;
    color: #a44d6d;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 5rem;
    margin-bottom: 2rem;
}

.submit-button:hover {
    background-color: lavenderblush;
}

/* Media Query */

@media all and (min-width: 992px) {
    body {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        margin: 0;
    }
    .gallery {
        margin: 0;
        padding: 0;
    }
    main {
        margin: 0;
        padding: 0;
    }
    .gallery img {
        max-width: 20%;
    }
    .image-right {
        margin-right: 10rem;
    }
    
    .image-left {
        margin-left: 10rem;
    }
}