* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #a44d6d;
}

#bubble {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.8rem 0.6rem 1.5rem 0.6rem;
    border-radius: 2rem;
    margin: .75rem .5rem 0 .5rem;
}

#tail-left {
    position: relative;
    width: 0;
    height: 0;
    border-right: 3rem solid transparent;
    border-top: 1.2rem solid white;
    margin-left: 2rem;
    margin-top: -0.3rem;
}

#logo-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-text img {
    height: 4rem;
}

#login button {
    background-color: #a44d6d;
    color: white;
    font-size: large;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 2rem;
    transform: translateY(35%);
}

#logo-image img {
    height: 7rem;
    display: block;
    margin: 2rem auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    text-align: center;
    margin: 1.5rem;
}

#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

#signup input {
    height: 4rem;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    background-color: white;
    color: gray;
    padding: 0.5rem;
    border: none;
    border-radius: 5rem;
    outline: none;
}

#signup button {
    height: 3rem;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    background-color: white;
    color: #a44d6d;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 5rem;
    margin-top: 1rem;
}

#signup button:hover {
    background-color: lavenderblush;
}
