.custom-scrollbar {
    scrollbar-gutter: stable;
    --sb-size: 10px;
    --sb-track-color: #a44d6d;
    --sb-thumb-color: #07e6ff;
}

.custom-scrollbar::-webkit-scrollbar {
    width: var(--sb-size);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.custom-scrollbar-sidebar {
    --sb-track-color: silver;
    --sb-thumb-color: white;
}

.custom-scrollbar-sidebar::-webkit-scrollbar {
    width: var(--sb-size);
}

.custom-scrollbar-sidebar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    box-shadow: inset 0 0 5px 1px;
}

.custom-scrollbar-sidebar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    box-shadow: inset 0 0 4px 1px;
}

/* Firefox support */
@supports not selector(::-webkit-scrollbar) {
    .custom-scrollbar {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
    
    .custom-scrollbar-sidebar {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
