/* _interface.scss */

#layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.col-left {
    display: none;
}

.col-center {
    width: 100vw;
}

.col-right {
    display: none;
}

@media all and (min-width: 992px) {

    .col-left {
        display: block;
        width: 20vw;
    }
    
    .col-left__header {
        height: 20vh;
        min-height: 8rem;
    }
    
    .col-left__profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        height: 70%;
        background-image: linear-gradient(#059cff, #07e6ff);
        box-shadow: inset 0px 0px 5px;
    
        img {
            height: 65%;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 1px;
        }

        img:hover {
            filter: brightness(90%);
        }
    
        p {
            font: normal bold 0.875rem Arial, Helvetica, sans-serif;
        }
    
    }
    
    .col-left__info {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        height: 30%;
        box-shadow: inset 0px 0px 5px;
        background-color: white;
    }

    .col-left__info-col:hover {
        background-color: lightgray;
    }
    
    .col-left__info-col {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        width: 50%;
        border: 0 1px solid black;
        box-shadow: inset 0px 0px 2px;
        
        p {
            font: normal bold 0.75rem Arial, Helvetica, sans-serif;
        }
    }
    
    #match-count,
    #message-count {
        padding: 0.3rem 0.5rem;
        border-radius: 50%;
        background-color: #fe94bc;
        box-shadow: 0px 0px 2px;
    }
    
    .col-left__messages {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 75vh;
        background-color: silver;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .col-left__messages-entry {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        height: 12vh;
        min-height: 5rem;
        padding: 0 0.75rem;
        background-color: white;
        box-shadow: inset 0px 0px 5px 1px;
        overflow-x: hidden;
        overflow-y: hidden;
    
        img {
            height: 75%;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 1px;
        }
    }

    .selected-entry {
        background-image: linear-gradient(90deg, silver, white, white);
    }

    .col-left__messages-entry:hover {
        filter: brightness(90%);
    }
    
    .col-center {
        width: 60vw;
    }
    
    .col-right {
        display: block;
        width: 20vw;
    }
    
    .col-right--header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        height: 20vh;
        min-height: 8rem;
        background-image: linear-gradient(#059cff, #07e6ff);
        box-shadow: inset 0px 0px 10px;
        overflow-x: hidden;
    
        img {
            height: 65%;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 1px;
        }
    
        img:hover {
            filter: brightness(90%);
        }
    }
    
    .col-right--profile {
        display: flex;
        flex-direction: column;
        height: 75vh;
    
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .col-right--buttons {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
    }
    
    .profile-view--button-box {
        width: 50%;
        background-color: white;
        box-shadow: inset 0px 0px 3px 1px;
    
        p {
            padding: 2.5rem 0;
            font: normal bold 0.8rem Arial, Helvetica, sans-serif;
            text-align: center;
        }
    }

    .profile-view--button-box:hover {
        filter: brightness(90%);
    }

    /* from: _chat.scss */

    .bubble--header {
        margin-left: auto;
        margin-right: auto;
    }

    .bubble--left {
        margin-left: 4rem;
    }
    .bubble--right {
        margin-right: 4rem;
    }
    .bubble__image {
        max-width: 15vw;
    }
}