/* _base.scss */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(#a44d6d, #fe94bc);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

main {
    min-height: 80vh;
}

img {
    height: 0; // To prevent FOUC on images
}

@media all and (min-width: 992px) {
    html, body {
        height: auto;
    }
}