.signup-page {

    label {
        font: normal 1rem Arial, Helvetica, sans-serif;
    }
    
    input {
        border-radius: 1rem;
        font: normal 1rem Arial, Helvetica, sans-serif;
    }


}

@media all and (min-width: 992px) {

    .signup-page main {
        flex: 1;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .bubble--header {
        width: 48%;
        margin-left: auto;
        margin-right: auto;
    }

}