/* _chat.scss */

.bubble {
    display: flex;
    position: relative;
    padding: 1rem;
    border: 2px outset silver;
    border-radius: 1.5rem;
    margin: 1rem;
    box-shadow: 0 0 3px 1px silver;
    background-color: white;
    font: normal 1rem Arial, Helvetica, sans-serif;
}

.bubble::after {
    content: "";
    position: absolute;
    bottom: -11px;
    width: 10px;
    height: 7px;
    border: 2px silver;
    border-style: none outset outset outset;
    border-radius: 0 0 100% 0;
    box-shadow: 0 0 3px 1px silver;
    background-color: white;
}

.bubble--header {
    justify-content: space-between;
    width: 95%;
}

.bubble--left {
    width: fit-content;
    max-width: 60vw;
    margin-right: auto;
}

.bubble--left::after {
    left: 17px;
}

.bubble--right {
    width: fit-content;
    max-width: 70vw;
    margin-left: auto;
}

.bubble--right::after {
    right: 17px;
    border-radius: 0 0 0 15rem;
}

.bubble--user {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem 0.4rem 0.4rem 0.2rem;
}

.bubble__image {
    max-width: 50vw;
    height: auto;
    border-radius: 1rem;
}
