/* _form.scss */

input {
    width: 100%;
    border: none;
    margin: auto;
    outline: none;
    font: normal 1rem Arial, Helvetica, sans-serif;
    text-align: center;
    color: gray;
}

.btn-send {
    padding: 0.2rem 0.4rem 0.3rem 0.4rem;
    border: 2px outset #fe94bc;
    border-radius: 50%;
    margin-left: auto;
    box-shadow: inset 0 0 5px 2px #fe94bc;
    font: normal 1rem Arial, Helvetica, sans-serif;
    color: white;
    background-color: #a44d6d;
}

.btn-send:hover {
    filter: brightness(85%);
}

.fa-reply {
    font-size: 0.75rem;
}

.btn-visibility {
    width: fit-content;
    padding: 0.2rem 0.25rem;
    border: 2px outset #fe94bc;
    border-radius: 50%;
    margin-left: 0.25rem;
    margin-right: auto;
    box-shadow: inset 0 0 5px 2px #fe94bc;
    color: white;
    background-color: #a44d6d;
}

.btn-visibility:hover {
    filter: brightness(85%);
}