/* _header.scss */

.logo-link {
    margin-right: auto;
}

.logo-img {
    width: 4rem;
    height: fit-content;
    max-height: 2.5rem;
    margin-right: auto;
}

.logo-img:hover {
    filter: brightness(90%);
}

h1 {
    margin-bottom: 0.5rem;
    color:#a44d6d;
    font: normal 2.5rem "Pacifico";
    text-shadow: 1px 1px 1px #fe94bc;
}

.btn-login {
    align-self: flex-end;
    width: 4rem;
    padding: 1.4rem 0;
    border: 2px outset #fe94bc;
    border-radius: 50%;
    margin-left: auto;
    box-shadow: inset 0 0 5px 2px #fe94bc;
    background-color: #a44d6d;
    font: normal 1rem Arial, Helvetica, sans-serif;
    color: white;
}

.btn-login:hover {
    filter: brightness(90%);
}